
.button{
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.5em;
    background-color: #d3d3d3;
    color: rgb(36, 36, 36);
    outline: 1px solid #888 ;
    cursor: pointer;
}

.button:hover{
    background-color: #c5c1c1 ;
}

.operator{
    background-color: #f89552;
}

.operator:hover{
    background-color: #e2874a;
}